[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Cython = "*"
cython-compiler = "*"
numpy = "*"
networkx = "*"
matplotlib = "*"
pandas = "*"
pyqt5 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mutmut = "*"
pytest-xdist = "*"
sphinx = "*"

[requires]
python_version = "3.8"
